.post-text {
    padding-top: 0.5rem;
}

.post-link {
    text-decoration: none;
}

.post-img {
    float: left;
    margin-right: .5rem;
}

.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.edit-color {
    color: #333;
}